<div class="row m-0 footer">
        <div class="col-lg-4 col-sm-12 pt-3 text-center">
                <h3 class="logo-font text-left text-black">CONTACT US</h3>
                <div class="d-inline-flex pb-3">
                    <p class="pt-5 pr-5"> 
                        Made up Street,<br>
                        Chepstow,<br>
                        made up stuff,<br>
                    </p>
                <div class="d-inline-flex pb-3">
                   <p class="pt-5">
                        01952 433626<br>
                        <a href = "customer.service.tipples@gmail.com">customer service.mail</a> 
                   </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 pt-3 text-center">
            <h3 class="logo-font text-left text-black">SOCIAL</h3>
            <div class="pt-5 pb-5">
                <i class="icons fab fa-facebook-square"></i>
                <i class="icons fab fa-twitter-square"></i>
                <i class="icons fab fa-instagram-square "></i>
                <i class="icons fab fa-youtube-square"></i>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 pt-3 text-center">
            <h3 class="logo-font text-left text-black">Payments ACCEPTed</h3>
            <div class="pt-5 pb-5">
                <i class="icons fab fa-cc-visa"></i>
                <i class="icons fab fa-cc-mastercard"></i>
                <i class="icons fab fa-cc-discover"></i>
                <i class="icons fab fa-cc-amex"></i>
                <i class="icons fab fa-cc-jcb"></i>
            </div>
        </div>
</div>