<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bar Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=glasses" class="dropdown-item">Glasses</a>
                <a href="{% url 'products' %}?category=bar_equipment" class="dropdown-item">Equipement</a>
                <a href="{% url 'products' %}?category=bar_equipment,glasses" class="dropdown-item">All Bar Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=vodka" class="dropdown-item">Vodka</a>
                <a href="{% url 'products' %}?category=gin" class="dropdown-item">Gin</a>
                <a href="{% url 'products' %}?category=tequila" class="dropdown-item">Tequila</a>
                <a href="{% url 'products' %}?category=whisky" class="dropdown-item">Whisky</a>
                <a href="{% url 'products' %}?category=rum" class="dropdown-item">Rum</a>
                <a href="{% url 'products' %}?category=craft_beer" class="dropdown-item">Craft Beers</a>
            </div>
        </li>
    </ul>
</div>